<body>
    <div class=" inicio text-white p-4 mb-2">
        <h4 class="text-center">SISTEMA DE GESTION DE INVENTARIO PARA LOCAL DE INDUMENTARIA</h4>
    </div>
    <div class="container">
        <div class="card-body">
                <p class="titulo text-center mt-3">Registrar Nuevo Usuario</p>
                <form class="form-signin p-2 mb-2" [formGroup]="registerForm" (ngSubmit)="enviar()">

                    <!--NOMBRE DE USUARIO-->
                    <div class="form-group">
                        <label for="nombreUsuario">Nombre de Usuario</label>
                        <input type="text"
                               class="form-control p-3"
                               id="nombreUsuario"
                               placeholder="Nombre de Usuario"
                               formControlName="nombreUsuario">
                        @if (registerForm.get('nombreUsuario')?.invalid && registerForm.get('nombreUsuario')?.touched) {
                            <!--Validación específica para nombre requerido-->
                            @if (registerForm.get('nombreUsuario')?.errors?.['required']) {
                                <div class="msj-error text-danger mt-2 p-2">El nombre de usuario es obligatorio</div>
                            }
                            <!--Validación específica para formato del nombre de usuario-->
                            @if (registerForm.get('nombreUsuario')?.errors?.['minlength'] || 
                                registerForm.get('nombreUsuario')?.errors?.['maxlength']) {
                                <div class="msj-error text-danger mt-2 p-2">El nombre de usuario debe tener entre 6 y 30 caracteres</div>
                            }
                        }
                    </div>

                    <!--EMAIL-->
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" 
                               class="form-control p-3" 
                               id="email"  
                               placeholder="Email"
                               formControlName="email">
                        @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
                            <!--Validación específica para email requerido-->
                            @if (registerForm.get('email')?.errors?.['required']) {
                                <div class="msj-error text-danger mt-2 p-2">El email es obligatorio</div>
                            }
                            <!--Validación específica para formato de email-->
                            @if (registerForm.get('email')?.errors?.['email']) {
                                <div class="msj-error text-danger mt-2 p-2">El formato del email no es válido</div>
                            }
                        }
                    </div>

                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" 
                               class="form-control p-3" 
                               id="password" 
                               placeholder="Contraseña"
                               formControlName="password">
                        @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
                            <!--Validación específica para contraseña requerida-->
                            @if (registerForm.get('password')?.errors?.['required']) {
                                <div class="msj-error text-danger mt-2 p-2">La contraseña es obligatoria</div>
                            }
                            <!--Validación específica para formato de la contraseña-->
                            @if (registerForm.get('password')?.errors?.['minlength']) {
                                <div class="msj-error text-danger mt-2 p-2">La contraseña debe tener al menos 6 caracteres</div>
                            }
                        }
                    </div>

                    <div class="form-group">
                        <label for="cargo">Cargo</label>
                        <div>
                            <input type="radio" name="cargo" value="vendedor" formControlName="seleccion">
                        <label>Vendedor</label>
                        </div>
                        <div>
                            <input type="radio" name="cargo" value="vendedor" formControlName="seleccion">
                            <label>Encargado de Compras</label>
                        </div>
                    </div>
                    
                    <button type="submit" 
                            class="btn btn-primary p-3 w-100"
                            [disabled]="registerForm.invalid">Aceptar
                    </button>
                </form>
        </div>
    </div>
</body>