<body>
    <div class=" inicio text-white p-4 mb-2">
        <h4 class="text-center">SISTEMA DE GESTION DE INVENTARIO PARA LOCAL DE INDUMENTARIA</h4>
    </div>
    <div class="container">
        <div class="card-body">
                <p class="titulo text-center mt-3">Registrar Nuevo Usuario</p>
                <form class="form-signin p-2 mb-2" [formGroup]="registerForm" (ngSubmit)="enviar()">

                    <!--NOMBRE-->
                    <div class="form-group">
                        <label for="nombreUsuario">Nombre</label>
                        <input type="text"
                               class="form-control p-3"
                               placeholder="Nombre"
                               formControlName="nombre">
                        @if (registerForm.get('nombre')?.errors?.['required'] && registerForm.get('nombre')?.touched) {    
                            <div class="msj-error text-danger mt-2 p-2">El nombre es obligatorio</div>
                        }
                    </div>

                    <!--APELLIDO-->
                    <div class="form-group">
                        <label for="nombreUsuario">Apellido</label>
                        <input type="text"
                               class="form-control p-3"
                               placeholder="Apellido"
                               formControlName="apellido">
                        @if (registerForm.get('apellido')?.errors?.['required'] && registerForm.get('apellido')?.touched) {    
                            <div class="msj-error text-danger mt-2 p-2">El apellido es obligatorio</div>
                        }
                    </div>

                    <!--NÚMERO DE DNI-->
                    <div class="form-group">
                        <label for="dni">DNI</label>
                        <input type="text" 
                               class="form-control p-3"   
                               placeholder="DNI"
                               formControlName="dni">
                        @if (registerForm.get('dni')?.invalid && registerForm.get('dni')?.touched) {
                            <!--Validación específica para email requerido-->
                            @if (registerForm.get('dni')?.errors?.['required']) {
                                <div class="msj-error text-danger mt-2 p-2">El DNI es obligatorio</div>
                            }
                            <!--Validación específica para formato de email-->
                            @if (registerForm.get('dni')?.errors?.['minLength'] || registerForm.get('dni')?.errors?.['maxLength']) {
                                <div class="msj-error text-danger mt-2 p-2">El formato del DNI no es válido</div>
                            }
                        }
                    </div>

                    <div class="form-group">
                        <label for="telefono">Teléfono</label>
                        <input type="text" 
                               class="form-control p-3"   
                               placeholder="Teléfono"
                               formControlName="telefono">
                        @if (registerForm.get('telefono')?.invalid && registerForm.get('telefono')?.touched) {
                            <!--Validación específica para email requerido-->
                            @if (registerForm.get('telefono')?.errors?.['required']) {
                                <div class="msj-error text-danger mt-2 p-2">El DNI es obligatorio</div>
                            }
                            <!--Validación específica para formato de email-->
                            @if (registerForm.get('telefono')?.errors?.['pattern']) {
                                <div class="msj-error text-danger mt-2 p-2">El formato del teléfono no es válido</div>
                            }
                        }
                    </div>

                    <!-- CARGO -->
                    <div class="form-group">
                    <label for="cargo">Cargo</label>
                    <div>
                        <input
                        type="radio"
                        id="vendedor"
                        value="vendedor"
                        formControlName="cargo" />
                        <label for="vendedor">Vendedor</label>
                    </div>
                    <div>
                        <input
                        type="radio"
                        id="encargado"
                        value="encargado"
                        formControlName="cargo" />
                        <label for="encargado">Encargado de Compras</label>
                    </div>

                    <!-- Mensaje de error -->
                    @if (registerForm.get('cargo')?.invalid && registerForm.get('cargo')?.touched) {
                        <div class="msj-error text-danger mt-2 p-2">
                        Debe seleccionar un cargo.
                        </div>
                    }
                    </div>
                    
                    <button type="submit" 
                            class="btn btn-primary p-3 w-100"
                            [disabled]=registerForm.invalid
                            >Aceptar
                    </button>
                </form>
        </div>
    </div>
</body>