  <div class="inicio text-white p-4 mb-2 total-display">
  <button class="btn-volver" routerLink="/home" style="position: absolute; left: 1rem;">
  <i class="bi bi-arrow-left"></i> 🏠 Volver al Inicio</button>
  <h4 class="text-center">VENTAS</h4>
  </div>

<table class="table table-striped table-bordered">
  <thead class="table">
    <tr>
      <th>Venta</th>
      <th>Fecha</th>
      <th>Empleado</th>
      <th>Total</th>
      <th>Detalles</th>
    </tr>
  </thead>
  <tbody>
    @for(venta of ventas; track venta.numVenta){
    <tr>
      <td>{{ venta.numVenta }}</td>
      <td>{{ venta.fecha | date: 'short' }}</td>
      <td>{{ venta.empleado.nombre }}</td>
      <td>{{ venta.total | currency:'ARS' }}</td>
      <td>
        <div>
          <button class="btn-detalles" (click)="verDetalles(venta)">Ver Detalles</button>
        </div>
      </td>
    </tr>
  }
  </tbody>
</table>
<div class="modal-overlay" *ngIf="ventaSeleccionada" (click)="cerrarModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h3>Detalles de la Venta #{{ ventaSeleccionada.numVenta }}</h3>
    <p><strong>Empleado:</strong> {{ ventaSeleccionada.empleado?.nombre }} {{ ventaSeleccionada.empleado?.apellido }}</p>
    <p><strong>Cliente:</strong> {{ ventaSeleccionada.cliente?.nombre }} {{ ventaSeleccionada.cliente?.apellido }}</p>
    <p><strong>Fecha:</strong> {{ ventaSeleccionada.fecha | date:'short' }}</p>
    <p><strong>Total:</strong> {{ ventaSeleccionada.total | currency:'ARS' }}</p>

    <h4>Prendas</h4>
    <ul>
      <li *ngFor="let d of ventaSeleccionada.detalles">
        <p>Prenda: {{ d.prenda?.descripcion }} </p>
        <p>Precio: {{ d.prenda?.precio | currency:'ARS' }} </p> 
        <p>Cantidad: {{ d.cantidad }} </p>
        <p>Subtotal: {{ d.subtotal | currency:'ARS' }}</p>
      </li>
    </ul>

    <button class="btn-cerrar" (click)="cerrarModal()">Cerrar</button>
  </div>
</div>