body {
  font-size: clamp(16px, 1vw, 20px);
  height: 100%;
}

.menu-principal {
    display: flex;
    justify-content:end;
    gap: 3rem;
    padding: 1rem;
    background-color: var(--primary-color);

    a{
        text-decoration: none;
        color: white;
        cursor: pointer;
        font-weight: bold;
    }
}
.grid-opciones {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex: 1;
  min-height: calc(100vh - 30px);
  height: 100%;
}


.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
  color: #000000;
  background-color: var(--secondary-color);
  font-weight: bold;
  text-decoration: none;
  transition: background 0.3s;
}
.tab:hover {
  opacity: 0.9;
}

.nueva-venta { grid-area: 2 / 2 / 4 / 4; }
.ver-ventas { grid-area: 2 / 4 / 4 / 6; }
.stock { grid-area: 2 / 6 / 4 / 8; }
.clientes { grid-area: 4 / 2 / 6 / 4; }
.nueva-compra { grid-area: 4 / 4 / 6 / 6; }
.ver-compras { grid-area: 4 / 6 / 6 / 8; }

i.bi {
  font-size: 2rem;
}

.desactivado {
  background-color: grey;
  cursor:default;
  pointer-events: none;
}