body {
  font-size: clamp(16px, 1vw, 20px);
  height: 100%;
}

.menu-principal {
    display: flex;
    justify-content:space-between;
    gap: 3rem;
    padding: 1rem;
    background-color: var(--primary-color);

    a{
        text-decoration: none;
        color: white;
        cursor: pointer;
        font-weight: bold;
    }
}
.grid-opciones {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex: 1;
  min-height: calc(100vh - 30px);
  height: 100%;
}


.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
  color: #000000;
  background-color: var(--secondary-color);
  font-weight: bold;
  text-decoration: none;
  transition: background 0.3s;
}
.tab:hover {
  opacity: 0.9;
}

i.bi {
  font-size: 2rem;
}

.logout {
  font-size: 1rem;
}

.disabled {
  opacity: 0.4;
  filter: grayscale(100%);
  cursor: not-allowed;
  pointer-events: none;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 12px;
  color: white;
}

.user-icon {
  font-size: 2.5rem;
}

.user-text {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.sesion {
  font-size: 0.8rem;
  opacity: 0.8;
}

.nombre {
  font-weight: bold;
  font-size: 1rem;
}

.rol {
  font-size: 0.8rem;
}

.btn-volver {
  padding: 4px 12px;
  font-size: 0.9rem;
  border-radius: 6px;
  border: none;
  background-color: #a8cfd0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}