<body>
    <div class=" inicio text-white p-4 mb-2">
        <h4 class="text-center">SISTEMA DE GESTION DE INVENTARIO PARA LOCAL DE INDUMENTARIA</h4>
    </div>
    <div class="container">
        <div class="card-body">
                <p class="titulo text-center mt-3">Inicio de Sesión</p>
                <form class="form-signin p-2 mb-2" [formGroup]="loginForm" (ngSubmit)="enviar()">

                    <div class="form-group">
                        <label for="dni">Número de DNI</label>
                        <input type="text" 
                               class="form-control p-3" 
                               id="dni"  
                               placeholder="Ingrese su DNI"
                               formControlName="dni">
                        @if (loginForm.get('dni')?.invalid && loginForm.get('dni')?.touched) {
                            <!--Validación específica para dni requerido-->
                            @if (loginForm.get('dni')?.errors?.['required']) {
                                <div class="msj-error text-danger mt-2 p-2">Ingresa tu DNI para ingresar</div>
                            }
                            <!--Validación específica para formato del dni-->
                            @if (loginForm.get('dni')?.errors?.['minlength'] || loginForm.get('dni')?.errors?.['maxlength']) {
                                <div class="msj-error text-danger mt-2 p-2">El formato de DNI no es válido</div>
                            }
                        }
                    </div>
    
                    <div id="supervisor-check" class="form-group opcion-supervisor">
                        <input type="checkbox">
                        <label for="supervisor-check">
                            <span>¿Ingresar como Supervisor?</span>
                        </label>
                    </div>
                    
                    <div id="supervisor" class="unchecked">
                        <div class="form-group" >
                            <label for="Contraseña">Contraseña</label>
                            <input type="password"
                               class="form-control p-3"
                               placeholder="Ingrese su contraseña"
                               formControlName='password'>

                            @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
                                <!--Validación específica para contraseña requerida-->
                                @if (loginForm.get('password')?.errors?.['required']) {
                                    <div class="msj-error text-danger mt-2 p-2">Ingresa la contraseña para ingresar</div>
                                }
                                <!--Validación específica para formato de email-->
                                @if (loginForm.get('dni')?.errors?.['minlength'] || loginForm.get('dni')?.errors?.['maxlength']) {
                                    <div class="msj-error text-danger mt-2 p-2">El formato de DNI no es válido</div>
                                }
                            }
                        </div>
                    </div>
                    
                    <button type="submit" 
                            class="btn btn-primary p-3 w-100"
                            [disabled]="loginForm.invalid">Iniciar Sesión</button>
                </form>
        </div>
    </div>
</body>