<body>
    <div class=" inicio text-white p-4 mb-2">
        <h4 class="text-center">SISTEMA DE GESTION DE INVENTARIO PARA LOCAL DE INDUMENTARIA</h4>
    </div>
    <div class="container">
        <div class="card-body">
            <p class="titulo text-center mt-3">Inicio de Sesión</p>
            <form  [formGroup]="loginForm" class="form-signin p-2 mb-2" (ngSubmit)="enviar()">
                
                <!-- Campo DNI -->
                <div class="form-group">
                    <label for="dni">Número de DNI</label>
                    <input type="text" 
                            class="form-control p-3" 
                            id="dni"  
                            placeholder="Ingrese su DNI"
                            formControlName="dni">
                    @if (loginForm.get('dni')?.invalid && loginForm.get('dni')?.touched) {
                        <!--Validación específica para dni requerido-->
                        @if (loginForm.get('dni')?.errors?.['required']) {
                            <div class="msj-error text-danger mt-2 p-2">Ingresa tu DNI para ingresar</div>
                        }
                        <!--Validación específica para formato del dni-->
                        @if (loginForm.get('dni')?.errors?.['minlength'] || loginForm.get('dni')?.errors?.['maxlength']) {
                            <div class="msj-error text-danger mt-2 p-2">El formato de DNI no es válido</div>
                        }
                    }
                </div>

                <!-- Bloque supervisor -->
                <div class="form-group opcion-supervisor" formGroupName="supervisor">
                    <div class="checkbox">
                        <input type="checkbox" formControlName="enabled" id="supervisor-check">
                        <label for="supervisor-check">
                        <span>¿Ingresar como Supervisor?</span>
                        </label>
                    </div>

                    @if (loginForm.get('supervisor.enabled')?.value) {
                        <div class="form-group" id="supervisor">
                            <label for="password">Contraseña</label>
                            <input type="password"
                                    class="form-control p-3"
                                    id="password"
                                    placeholder="Ingrese su contraseña"
                                    formControlName="password">

                            @if (loginForm.get('supervisor.password')?.invalid && loginForm.get('supervisor.password')?.touched) {
                                @if (loginForm.get('supervisor.password')?.errors?.['required']) {
                                <div class="msj-error text-danger mt-2 p-2">Ingresa la contraseña para ingresar</div>
                                }
                                @if (loginForm.get('supervisor.password')?.errors?.['minlength'] || loginForm.get('supervisor.password')?.errors?.['maxlength']) {
                                <div class="msj-error text-danger mt-2 p-2">El formato de la contraseña no es válido</div>
                                }
                            }
                        </div>
                    }
                </div>

                <!-- Botón submit -->
                <div>
                    <button type="submit" 
                            class="btn btn-primary p-3 w-100"
                            [disabled]="loginForm.invalid">
                    Iniciar Sesión
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>