/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #005e65;
    --secondary-color: #0098A3;
    --primary-hover: #015358;
    --background_body: #fffaf2;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:root {
  --primary-color: #4A90E2;
  --primary-hover: #357ABD;
  --secondary-color: #F5F5F5;
}