/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #005e65;
    --secondary-color: #0098A3;
    --primary-hover: #015358;
    --background_body: #fffaf2;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.btn-volver {
  background-color: #9ad6e2;
  color: #000000;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s;
}

.btn-volver:hover {
  background-color: #023e8a;
  color: white;
}